window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 20px;
  background-color: #04121B;
}

#custom-launcher {
    color: #89b4fa;
    background-color: #25253a;
    border-radius: 0px 0px 40px 0px;
    margin: 0px;
    padding: 0px 30px 0px 15px;
    font-size: 28px;
}

#network,
#cpu,
#memory,
#battery,
#language,
#disk
{
  margin: 10px 10px;
  padding: 0 15px;
  border-radius: 5px;
  margin-left: 5px;
  background-color: #25253a;
  color: #89b4fa;
}

#clock {
  color: #89b4fa;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
}

#workspaces {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px 5px;
    border-radius: 16px;
    color: #cba6f7
}
#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: transparent;
    background-color: rgba(17,17,27,1);
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: #89b4fa;
    color: #11111B;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background-color: #f5f5f5;
    color: #11111B;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}
